
@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="mt-3 mb-5">
    <div class="container-fluid text-center">
        <h2>You are logged in as @this.User.Identity.Name, the almighty admin</h2>
    </div>
</div>

